* {
  margin: 0; 
  padding: 0;
}

body {
  color: #2f80ed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.image { 
  display: block;
  margin: 110px 380px 10px;
  max-width: 520px;
}

.dropdown {
  /* position: relative; неудачная попытка сделать всплывающий блок, который не будет сдвигать подвал вниз */
  display: inline-block;
  margin: 0px 430px 280px;
  width: 420px;
  text-align: center;
  font-size: 122px;
  font-weight: 400;
  cursor: pointer;
}

.dropdown-header {
  font-size: 122px;
  font-weight: 400;
}

.dropdown-content {
  /* position: absolute; неудачная попытка сделать всплывающий блок, который не будет сдвигать подвал вниз */
  display: none;
  width: 420px;
  margin-top: 22px;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 15px;
  margin-bottom: -124px;
}

.footer {
  display: block;
  margin: 0 430px 30px;
  width: 420px;
  text-align: center;
}